# Python - Control Statement

In [3]:
#Conditional Statement with boolean
a = 1
print(a == 2)

#If statement
if(False) :
        print(1)
print(2)

False

In [10]:
#Case using ; in Python
print(1);print(2)

1
2

In [13]:
#if, elif, else
if(a==2):
    print(a)
elif(a==3):
    print('d')
else:
    print(3)

3

In [1]:
grade = ''
K = input()
Korean = int(K)
if(Korean >= 90):
    if(Korean >= 95):
        grade = 'A+'
    grade = 'A'
elif(90 > Korean >= 80):
    if(Korean >= 85):
        grade = 'B+'
    grade = 'B'
elif(80 > Korean >= 70):
    if(Korean >= 75):
        grade = 'C+'
    grade = 'C'
elif(70 > Korean >= 60):
    if(Korean >= 65):
        grade = 'D+'
    grade = 'D'
else:
    grade = 'F'
print(grade)

93
A

In [2]:
#iteration

In [8]:
#For loop
#Syntax: for (item) in (iterable object):
for i in {1,3,3,2,4}:
    print (i)

1
2
3
4

In [13]:
for i in (1,2,3,4,5,6,7,8,9):
    print("2 x " + str(i) + " = " + str(i*2))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [15]:
for i in (1,2,3,4,5,6,7,8,9):
    print("2 x " , i , " = " , 2*i)

2 x  1  =  2
2 x  2  =  4
2 x  3  =  6
2 x  4  =  8
2 x  5  =  10
2 x  6  =  12
2 x  7  =  14
2 x  8  =  16
2 x  9  =  18

In [16]:
print(range(10))

range(0, 10)

In [17]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
for i in range(1,10):
    print("2 x " , i , " = " , 2*i)

2 x  1  =  2
2 x  2  =  4
2 x  3  =  6
2 x  4  =  8
2 x  5  =  10
2 x  6  =  12
2 x  7  =  14
2 x  8  =  16
2 x  9  =  18

In [27]:
for j in range(2,10):
    if(j % 2 == 1):
        for i in range(1,10):
            print(j, " x " , i , " = " , j*i)

3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
5  x  1  =  5
5  x  2  =  10
5  x  3  =  15
5  x  4  =  20
5  x  5  =  25
5  x  6  =  30
5  x  7  =  35
5  x  8  =  40
5  x  9  =  45
7  x  1  =  7
7  x  2  =  14
7  x  3  =  21
7  x  4  =  28
7  x  5  =  35
7  x  6  =  42
7  x  7  =  49
7  x  8  =  56
7  x  9  =  63
9  x  1  =  9
9  x  2  =  18
9  x  3  =  27
9  x  4  =  36
9  x  5  =  45
9  x  6  =  54
9  x  7  =  63
9  x  8  =  72
9  x  9  =  81

In [28]:
for j in range(3,10,2):
    for i in range(1,10):
        print(j, " x " , i , " = " , j*i)

3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
5  x  1  =  5
5  x  2  =  10
5  x  3  =  15
5  x  4  =  20
5  x  5  =  25
5  x  6  =  30
5  x  7  =  35
5  x  8  =  40
5  x  9  =  45
7  x  1  =  7
7  x  2  =  14
7  x  3  =  21
7  x  4  =  28
7  x  5  =  35
7  x  6  =  42
7  x  7  =  49
7  x  8  =  56
7  x  9  =  63
9  x  1  =  9
9  x  2  =  18
9  x  3  =  27
9  x  4  =  36
9  x  5  =  45
9  x  6  =  54
9  x  7  =  63
9  x  8  =  72
9  x  9  =  81

In [34]:
#While loop
#break and continue
num = 0
while num < 10:
    print(1)
    print(3)
    num += 1
    print(2)

1
3
2
1
3
2
1
3
2
1
3
2
1
3
2
1
3
2
1
3
2
1
3
2
1
3
2
1
3
2

In [40]:
count = 2
num = 1
while count < 10 :
    if count % 2 == 1 :
        while num < 10:
            print(count, " x " , num , " = " , count*num)
            num += 1
    count += 1
    num =1

3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
5  x  1  =  5
5  x  2  =  10
5  x  3  =  15
5  x  4  =  20
5  x  5  =  25
5  x  6  =  30
5  x  7  =  35
5  x  8  =  40
5  x  9  =  45
7  x  1  =  7
7  x  2  =  14
7  x  3  =  21
7  x  4  =  28
7  x  5  =  35
7  x  6  =  42
7  x  7  =  49
7  x  8  =  56
7  x  9  =  63
9  x  1  =  9
9  x  2  =  18
9  x  3  =  27
9  x  4  =  36
9  x  5  =  45
9  x  6  =  54
9  x  7  =  63
9  x  8  =  72
9  x  9  =  81